@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set default theme */
:root {
  color-scheme: light dark;
}

[data-mode="dark"] {
  color-scheme: dark;
}

body {
  font-family: var(--font-family-body);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}
