---
layout: default
---
<div id="fullpage">
    <div class="section">
        <div class="slide"> 
            {% include_relative /pages/index.html %}
        </div>
        <div class="slide"> 
            {% include_relative /pages/about.html %}
        </div>
        <div class="slide"> 
            {% include_relative /pages/research.html %}
        </div>
        <div class="slide"> 
            {% include_relative /pages/resource.html %}
        </div>
        <div class="slide"> 
            {% include_relative /pages/contact.html %}
        </div>
    </div>
<!--         <div class="section">Some section</div>
    <div class="section">Some section</div>
    <div class="section">Some section</div>
--> 
</div>

 