<link href='{{ site.url }}/images/fav.png' rel='shortcut icon'>
<link href='{{ site.url }}/stylesheets/mystyle.css' rel='stylesheet' type='text/css' />
<link href='{{ site.url }}/stylesheets/highlight.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
{% if page.date %}
  <meta content='{{ site.url }}{{ page.url }}' property='og:url' />
  <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property='og:description' />
  <meta content="article" property="og:type" />
{% else %}
  <meta content='{{ site.url }}' property='og:url' />
  <meta content="{{ site.description }}" property='og:description' />
  <meta content="blog" property="og:type" />
{% endif %}
<!-- - -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131528454-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131528454-1');
</script>
