<!-- Portfolio Grid Section -->
    <section id="research" class="bg-light-gray portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">Re-Search /rɪˈsɜːtʃ/: [Verb]   Search again and again.</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.posts %}
            {% if post.category == "research" %}
                <div class="col-md-6  col-sm-6 portfolio-item">
                     <a href={{ post.url }} class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <div class="portfolio-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </a> 
                </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>