{{ partial "head" . }}

<!-- Header -->
{{ partial "header" . }}

<!-- Main Content-->
<div class="mx-auto my-2 col-10 col-md-7 col-lg-6 col-xl-5" >

  <!-- Navigation -->
  <div class="p-2">
    <nav aria-label="Breadcrumb">
      <ol>
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/{{.Section}}">{{ .Section }}</a></li>
        <li class="breadcrumb-item" aria-current="page"> {{ .Title }}</li>
      </ol>
    </nav>

    <h1>{{.Title}}</h1>
    <div>
      {{ if .IsTranslated }}
      <strong>Also in:</strong>
        {{ range .Translations }}
        <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
        {{ end }}
        {{ end }}
      </div>
  </div>


  <div class="markdown-body p-2">
  {{ .Content }}
  </div>
  <!-- Footer -->
  {{ partial "footer" . }}

</div>

