@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css";

details summary::-webkit-details-marker {
  display:none;
}

body {
  font-size: 12pt;
}

.anchorjs-link {
  color: #AAAAAA;
}
.anchorjs-link:hover {
  color: #FF5231;
}
