<!DOCTYPE html>
<html>
  {% include head.html %}
<body id="page-top" class="index">
    {% include header.html %}
  <div >
      <p class="bg-primary" style="text-align:center; padding-top:1em; padding-bottom:1em;">Welcome to the Late-2016 Version of FT Vision! I am updating the website thoroughly, but the progress is a little slow because I am making my dissertation proposal. </p>
	<div>

    <div class="container">
        {{content}}  
    </div>
    
    {% include footer.html %}
    
</body>
</html>
