{% include css/bootstrap.min.css %}
{% include css/agency.css %}
.content {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

.content p, h6, dl, ol, ul, span {
  text-align: left;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}

.content dt {
	color: gray;
}
.content blockquote {
  padding: 1.33em;
  font-style: italic;
  border-left: 5px solid #7a7a7a; }

.content blockquote footer {
  font-size: .85rem;
  font-style: normal;
  background-color: #fff;
  color: #7a7a7a;
  border-color: transparent; }

.post-header {
    text-align: center;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;

}
.post-section-title {
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}